.wrapper {
    display: flex;
}

.container {
    width: 640px;
    height: 480px;
    perspective: 1000px;
}

.container:hover .wrap, .container.hover .wrap {
    -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */
}

.wrap {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.card {
    width: 640px;
    height: 480px;

    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    //border: 1px solid red;
}

.card--front-1 {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

    background-color: lightblue;
    background-image: url("https://sirkitts.github.io/spi-cam-1.jpg");
}

.card--back-1 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background-color: lightgreen;
    background-image: url("https://sirkitts.github.io/spi-cam-3.jpg");
}

.card--front-2 {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

    background-color: lightblue;
    background-image: url("https://sirkitts.github.io/spi-cam-3.jpg");
}

.card--back-2 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background-color: lightgreen;
    background-image: url("https://sirkitts.github.io/spi-cam-1.jpg");
}
