#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4CAF50;
    color: white; */
    background-color: white;
    color: black;
  }
  
  .timeswitch {
    display: flex;
    justify-content: space-around;
  }

  .clock {
    display: flex;
    justify-content: flex-end;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    background-color: white;
    color: black;
  }
