.primary {background-color: #4CAF50;}
.secondary {background-color: #008CBA;}
.tertiary {background-color: #f44336;}

.black {background-color: #555555;}
.blue {background-color: #008CBA;}
.gray {background-color: #e7e7e7; color: black;}
.green {background-color: #4CAF50;}
.red {background-color: #f44336;}

.xsmall {font-size: 10px;}
.small {font-size: 12px;}
.medium {font-size: 16px;}
.large {font-size: 20px;}
.xlarge {font-size: 24px;}
