$breakpoint-largest: 75em; // 1200px / 16
$breakpoint-large: 68.75em; // 1100px / 16
$breakpoint-medium: 56.25em; // 900px / 16
$breakpoint-small: 37.5em; // 600px / 16
$breakpoint-xsmall: 20.625em; // 330px / 16
