:root { 
    --color-primary: #316ba3;

    // set rogress-bar default
    --progress-bar-bgcolor: lightgray;
    --progress-bar-color: var(--color-primary);
    --progress-bar-container-width: 97%;
    --progress-bar-container-height: 1.5rem;
    --progress-bar-font-size: small;
    --progress-bar-speed: 5s;
}
