/* pulsate */
@keyframes pulsate {
    0% { transform: scale(1); box-shadow: none; }
    25% { transform: scale(1.05); box-shadow: 0 1rem 4rem rgba(255,255,255,0.20); }
    50% { transform: scale(1.20); box-shadow: 0 1rem 4rem rgba(255,255,255,0.4); }
    100% { transform: scale(1); box-shadow: none; }
}

/* bar */
@keyframes bar {
    0% { width: 0%; }
    100% { width: var(--progress-bar-width); }
}

@keyframes bar-left {
    0% { width: 100%; }
    100% { width: var(--progress-bar-width); }
}

/* spin */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
  
    80% {
      transform: translateX(1rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*/

@keyframes moveInBottom {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
