footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;

    background: #333;
    color: #fff;
    height: 10vh;
    cursor: pointer;

    .social-media .fab {
        margin: 0rem 0.1rem;
        border: 2px #fff solid;
        border-radius: 50%;
        text-align: center;
        padding: 0.5rem;
    }

    .social-media .fab:hover {
        background: $color-primary;
    }

    .social-media a,
    .social-media:link,
    .social-media:active {
        outline: none;
        text-decoration: none;
        color: white;
    }
}

@media only screen and (max-width: $breakpoint-small) {
    footer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: $breakpoint-xsmall) {
    footer {
        font-size: 0.6rem;
    }
}
