header {
    display: grid;
    grid-template-columns: 10% 40% 50%;

    justify-content: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    
    height: 10vh;
    background-color: $color-primary;

    .photo {
        margin-top: 2rem;
        margin-left: 2rem;
        border: 2px solid $color-primary ;
        background: 
            url('https://sirkitts.github.io/resume/images/avatar.png')
            no-repeat center center / cover;
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        z-index: 1;
    }

    .photo:hover {
        border: 2px solid white;
        background: 
            url('https://sirkitts.github.io/resume/images/jose.quitain.jpg')
            no-repeat center center / cover;
    }

    .signature {
        margin-right: auto;
        color: #fff;

        animation-name: moveInLeft;
        animation-duration: 5s;
        animation-timing-function: ease-out;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-decoration: none;
        outline: none;
        text-transform: uppercase;

        li {
            list-style: none;
            text-decoration: none;
            outline: none;
            font-weight: 900;
            font-size: 1rem;
            margin: 2px;

            a,
            &:link,
            &:active {
                text-decoration: none;
                outline: none;
                color: white;
            }

            &:hover {
                transform: scale(1.2);
                outline: none;
                background-color: yellowgreen;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-large) {
    header {
        grid-template-columns: 15% 35% 50%;
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    header {
        .signature {
            margin: auto;
        }
    }
}

@media only screen and (max-width: $breakpoint-small) {
    header {
        grid-template-columns: 10% 30% 60%;

        .photo {
            margin-top: 0.5rem;
            margin-left: 0.25rem;
            width: 3rem;
            height: 3rem;
        }

        .signature {
            font-size: 1.1rem;
        }
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width: $breakpoint-xsmall) {
    header {
        .photo {
            width: 2rem;
            height: 2rem;
        }

        .signature {
            font-size: 0.8rem;
        }

        ul {
            li {
                font-weight: 500;
                font-size: 0.8rem;
                margin: 0.1rem;
            }
        }
    }
}
