.index {
    background:
        linear-gradient(
            to left top,
            rgba(8, 5, 184, 0.25),
            rgba(31, 49, 207, 0.25)
        ),
        url('https://source.unsplash.com/1600x900/daily?sand')
        no-repeat center center / cover;

    height: 80vh;
}

.index-container {
    margin: 0 auto;
    min-height: 80vh;
    width: 80%;
}

.index-text {
    display: grid;
    justify-content: center;
    align-content: center;

    margin: auto;
    /* min-height: 40vh; */
    width: 100%;
    color: white;
}

.index-text__heading {
    font-size: 4rem;
    font-weight: 900;
}

.index-text__subheading {
    font-size: 1rem;
    font-weight: 600;
}

.title {
    margin: 2rem auto;
    width: 100%;
    text-transform: capitalize;
}

.image-credit {
    position: absolute;
    bottom: 5.8rem;
    right: -3.2rem;
    margin: 2rem auto;
    transform: rotate(270deg);
    background-color: transparent;
}

.image-credit a {
    text-decoration: none;
    outline: none;
}
