:root { 
    --loader-size: 10rem;
    --loader-border-color: #f3f3f3;
    --loader-border-top-color: #3498db;
    --loader-border-size: 0em;
}

/* Center the loader */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 1001;

    width: var(--loader-size);
    height: var(--loader-size);
    margin-top: calc( var(--loader-size)/2 * -1);
    margin-left: calc( var(--loader-size)/2 * -1);

    border: var(--loader-border-size) solid var(--loader-border-color);
    border-radius: 50%;
    border-top: var(--loader-border-size) solid var(--loader-border-top-color);
    background:
        url('https://source.unsplash.com/1600x900/daily?sand')
        no-repeat center center / cover;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
