.progress-bar {
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 4px;

    width: var(--progress-bar-container-width);
    font-size: var(--progress-bar-font-size);
    align-items: center;

    &__bar {
        height: var(--progress-bar-container-height);
        background-color: var(--progress-bar-bgcolor);

        &--width {
            height: 100%;
            background-color: var(--progress-bar-color);
            animation: bar var(--progress-bar-speed);
        }

        &--width::before {
            content: '';
        }
    }

    &__bar-left {
        height: var(--progress-bar-container-height);
        background-color: var(--progress-bar-color);

        &--width {
            height: 100%;
            background-color: var(--progress-bar-bgcolor);
            animation: bar-left var(--progress-bar-speed);
        }

        &--width::before {
            content: '';
        }
    }
}

.progress-bar--with-text {
    grid-template-columns: auto 1fr auto;
}
